.btn {
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--border);
  cursor: pointer;
  padding: 10px 20px;
  user-select: none;
}

.btn.sm {
  padding: 3px 10px;
  font-size: 12px;
}

.btn:hover {
  background-color: var(--border-dark);
}

.btn:active {
  background-color: var(--border);
}

.btn:disabled {
  background-color: var(--border-light);
  cursor: not-allowed;
}

.btn.primary {
  background-color: var(--primary);
  color: var(--border-light);
  border-color: var(--primary);
}

.btn.primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn.primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn.primary:disabled {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  color: var(--border-light);
}

.btn.secondary {
  background-color: var(--secondary);
  color: var(--border-light);
  border-color: var(--secondary);
}

.btn.secondary:hover {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.btn.secondary:active {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.btn.secondary:disabled {
  background-color: var(--secondary-light);
  border-color: var(--secondary-light);
  color: var(--border);
}

.btn.success {
  background-color: var(--success);
  color: var(--border-light);
  border-color: var(--success);
}

.btn.success:hover {
  background-color: var(--success-dark);
  border-color: var(--success-dark);
}

.btn.success:active {
  background-color: var(--success);
  border-color: var(--success);
}

.btn.success:disabled {
  background-color: var(--success-light);
  border-color: var(--success-light);
  color: var(--border-light);
}

.btn.danger {
  background-color: var(--danger);
  color: var(--border-light);
  border-color: var(--danger);
}

.btn.danger:hover {
  background-color: var(--danger-dark);
  border-color: var(--danger-dark);
}

.btn.danger:active {
  background-color: var(--danger);
  border-color: var(--danger);
}

.btn.danger:disabled {
  background-color: var(--danger-light);
  border-color: var(--danger-light);
  color: var(--border-light);
}

.btn.warning {
  background-color: var(--waring);
  color: var(--font-dark);
  border-color: var(--waring);
}

.btn.warning:hover {
  background-color: var(--waring-dark);
  border-color: var(--warning-dark);
}

.btn.warning:active {
  background-color: var(--warning);
  border-color: var(--warning);
}

.btn.warning:disabled {
  background-color: var(--border-light)3cd;
  border-color: var(--border-light)3cd;
  color: var(--font-dark);
}

.btn.text {
  background-color: transparent;
  border: none;
  color: var(--font-dark);
}

.btn.text:hover {
  background-color: var(--border-light);
}

.btn.text:active {
  background-color: var(--border);
}