form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 30px 20px 10px 20px;
}

.form-line {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form-line label {
  margin-bottom: 5px;
}

.form-line input {
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.form-line .btn {
  margin-top: 10px;
}