h1 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-size: 30px;
  margin: 0;
}

h2 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-size: 24px;
  margin: 0;
}

h3 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-size: 18px;
  margin: 0;
}

h4 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-size: 14px;
  margin: 0;
}
