:root {
  --primary: #007bff;
  --primary-light: #cce5ff;
  --primary-dark: #005cbf;
  --secondary: #6c757d;
  --secondary-light: #e2e3e5;
  --secondary-dark: #545b62;
  --success: #28a745;
  --success-light: #e2e3e5;
  --success-dark: #1c7430;
  --danger: #dc3545;
  --danger-light: #f5c6cb;
  --danger-dark: #bd2130;
  --warning: #ffc107;
  --warning-light: #fff3cd;
  --warning-dark: #d39e00;
  --font-dark: #333;
  --border: #ccc;
  --border-dark: #999;
  --border-light: #eee;
}

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-dark);
}

*::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary-dark)
}

ul {
  list-style: none;
}

input,
input:active,
input:hover,
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.no-items,
.no-found {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
}

.no-items {
  color:var(--warning-dark);
  background-color: var(--warning-light);
}

.no-found {
  color:var(--border-dark);
  background-color: var(--border-light);
}

.main-page-separator {
  margin-top: 70px;
}

/* Vue-select */

.vs__selected {
  font-size: 12px;
  text-overflow: clip;
  text-wrap: nowrap;
}

.vs__search {
  font-size: 12px;
}

.vs__search::placeholder,
.vs__search:focus::placeholder {
  font-size: 12px;
  color: var(--border);
  font-weight: 300;
}